@tailwind base;
@tailwind components;
@tailwind utilities;


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.section-header::after{
    content: " ";
    background: rgb(234 88 12);
    height: 4px;
    width: 46vw;
    
    margin-left: auto;
    display: block;
    
}


.pswp img {
max-width: none;
object-fit: contain;
}

.pswp__img--placeholder--blank {
display: none !important;
}